src/playback/10ksquare3600f.sim
.vscode/configurationCache.log
.vscode/dryrun.log
.vscode/settings.json
.vscode/targets.log
src/sim/big.sim
src/playback/test.sim
src/sim/10k3600.sim
src/sim/test.sim
src/playback/3000slower.sim
src/playback/4000slow.sim
src/sim/40k12ksq.sim
